DATABASE_HOST="localhost"
DATABASE_NAME="database"
DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_PORT="5432"

TMDB_BASE_URL="URL"
TMDB_API_KEY="API_Key"

FRONTEND_BASE_URL="URL"

PEPPER="PEPPER"

JWT_SECRET_KEY="API_KEY"
JWT_ALGORITHM="ALGORITHM"
JWT_MINUTES_EXPIRATION="TIME"

DEEP_LINK_BASE="URL"

SMTP_SERVER="SERVER"
SMTP_PORT="PORT"
SMTP_EMAIL="MAIL"
SMTP_PASSWORD="PASSWORD"


WATCHMODE_API_KEY = "API_KEY"
WATCHMODE_BASE = "URL"